#trail {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--text-light);
  padding-top: 4rem;
  font-family: var(--font-text);
}

#nav {
  scroll-margin-top: 90px;
}

.trail__banner {
  background-size: cover;
  height: 300px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title__heading {
  text-align: center;
  font-family: var(--font-caveat);
  font-size: 3rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}

.navigation::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 10px;
  height: 255px;
  background: rgb(111, 61, 4);
  background-image: url('../../../components/Header/wood.png');
  background-size: 112px;
  background-position: center;
  background-repeat: repeat;
}

.navigation>a {
  position: relative;
  font-family: var(--font-caveat);
  color: var(--text-light);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroung-light-blue);
}

.navigation a:hover {
  scale: 1.1;
}

.navigation>a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 10rem;
  border-top: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-left: 1rem solid var(--backgroung-light-blue);
}

.trail__heading {
  background-image: url('./img/IMG_1802.jpg');
  height: 80px;
  background-size: cover;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trail__text {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  width: 50%;
  height: 40px;
  background-color: black;
  opacity: 0.8;
  color: white;
  font-family: 'Caveat', sans-serif;
}

.general__info {
  background-color: var(--backgroung-light-blue);
  color: var(--text-light);
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.general__info--desktop {
  display: none;
}

.general__text {
  font-family: var(--font-text);
  margin: 2rem;
  color: var(--backgroung-light-blue);
}

.general__text a {
  color: var(--link-text);
}

.general__text a:hover {
  font-weight: bold;
}

.packing__text {
  margin: 2rem
}

.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#general,
#stages,
#packing,
#gallery {
  scroll-margin-top: 4rem;
}

.scroll-pic {
  width: 60px;
  height: 60px;
  background-image: url('./scroll-up.svg');
  background-position: center;
  position: fixed;
  right: 5px;
  bottom: 4.5rem;
  cursor: pointer;
  z-index: 2;
}

.scroll-pic:hover {
  scale: 1.07;
}

@media (min-width: 580px) {
  .trail__page {
    width: 70vw;
    margin: 0 auto;
  }

  .trail__banner {
    height: 505px;
  }
}

@media (min-width: 850px) {
  .title__heading {
    font-size: 5rem;
  }

  .general__info--mobile {
    display: none;
  }

  .general__info--desktop {
    display: flex;
    margin-right: 0;
    height: 205px;
    justify-content: center;
  }

  .trail__flex {
    display: flex;
    justify-content: space-between;
  }

  .navigation::before {
    bottom: 0px;
    height: 270px;
  }
}
