#contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4rem;
  width: 100%;
  align-items: center;
  min-height: 1600px;
  font-family: 'Istok Web', sans-serif;
  background-color: var(--text-light);
  color: var(--backgroung-light-blue);
}

.person-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 90vw;
  padding: 3rem;
  max-width: 800px;
  align-items: center;
}

.person-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  min-height: 310px;
  text-align: center;
  gap: 3rem;
}

.person-name {
  font-family: 'Caveat', sans-serif;
}

.person-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email,
.github,
.linkedin,
.instagram {
  display: flex;
  align-items: center;
  gap: 20px;
}

.email-link:hover .email-icon {
  background-image: url('./img/email-open.png');
}

div.email a,
div.github a,
div.linkedin a,
div.instagram a {
  display: flex;
  align-items: center;
  gap: 20px
}

.email-icon {
  background-image: url('./img/email-closed.png');
  background-color: var(--text-light);
  background-position: center;
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
  margin: 0;
}

.github-icon {
  background-image: url('./img/github-light.png');
  background-color: var(--text-light);
  background-position: center;
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
  margin: 0;
}

.github-link:hover .github-icon {
  background-image: url('./img/github-dark.png');
}

.linkedin-icon {
  background-image: url('./img/linkedin-light.svg');
  background-color: var(--text-light);
  background-position: center;
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
  margin: 0;
}

.linkedin-link:hover .linkedin-icon {
  background-image: url('./img/linkedin-dark.svg');
}

.instagram-icon {
  background-image: url('./img/instagram-light.svg');
  background-color: var(--text-light);
  background-position: center;
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
  margin: 0;
}

.instagram-link:hover .instagram-icon {
  background-image: url('./img/instagram-dark.svg');
}

.email-link,
.github-link,
.linkedin-link,
.instagram-link {
  color: var(--backgroung-light-blue);
}

.email-link:hover,
.github-link:hover {
  font-weight: bold;
}

.person-image {
  width: 200px;
  max-height: 250px;
}

.iva {
  flex-direction: row-reverse;
}

@media (min-width: 609px) {
  #contacts {
    min-height: 1500px;
  }
}

@media (min-width: 676px) {
  #contacts {
    min-height: 1100px;
  }

  .person-text {
    text-align: left;
    width: 280px;
  }
}

@media (min-width: 870px) {
  .person-image {
    width: 310px;
    min-height: 385.5px;
  }

  #contacts {
    min-height: 1100px;
  }
}
