.heading__container {
  height: 80px;
  background-size: cover;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading__title {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  width: 50%;
  height: 40px;
  background-color: black;
  opacity: 0.8;
  color: white;
  font-family: 'Caveat', sans-serif;
}

@media (max-width: 430px) {
  .heading__title {
    font-size: 1.5rem;
    line-height: 1.9;
  }
}

@media (min-width: 1450px) {
  .container {
    display: none;
  }

  .title {
    width: 50%;
  }
}
