#main {
  position: relative;
  top: 4rem;
  margin-bottom: 4rem;
}

.main__banner {
  background-image: url("./img/IMG_1802.jpg");
  background-size: cover;
  height: 600px;
}

.title {
  width: 70vw;
  background-color: black;
  opacity: 0.6;
  color: white;
  position: relative;
  left: 15%;
  top: 32vh;
}

.hikeit {
  font-size: 10vw;
  text-align: center;
}

.likeit {
  font-size: 2.8vw;
  position: absolute;
  right: 1vw;
  bottom: 0.5vw;
}
