#main {
  position: relative;
  top: 4rem;
  margin-bottom: 4rem;
  background-color: var(--text-light);
}

.main__banner {
  background-image: url("./img/IMG_1802.jpg");
  background-size: cover;
  height: 500px;
}

.title {
  width: 70vw;
  height: 180px;
  background-color: black;
  opacity: 0.6;
  color: white;
  position: relative;
  left: 15%;
  top: 370px;
  font-family: 'Caveat', sans-serif;
}

.hikeit {
  font-size: 7rem;
  position: absolute;
  left: calc(50% - 123.75px)
}

.likeit {
  font-size: 2rem;
  position: absolute;
  right: 1vw;
  bottom: 0.5vw;
}

.main__section {
  width: 70vw;
  margin: 45px auto;
  padding: 45px 0;
}

.main__text {
  font-family: var(--font-text);
}

@media (max-width: 850px) {
  .main__banner {
    height: 300px;
  }

  .title {
    height: 120px;
    top: 215px;
  }

  .hikeit {
    font-size: 4rem;
    left: calc(50% - 70.7px)
  }

  .likeit {
    font-size: 1.5rem;
  }

  .main__section {
    margin: 25px auto;
    padding: 25px 0;
  }
}
