.stage {
  background-color: var(--backgroung-light-blue);
  color: var(--text-light);
  font-family: var(--font-text);
  padding: 1rem;
  line-height: 1.5;
  max-width: 500px;
}

.stage__title {
  font-size: 1.5rem;
  font-family: var(--font-caveat);
}

.stage__flex {
  display: flex;
  justify-content: space-between;
}

.stage__cross {
  background-color: var(--text-light);
}
