.stage {
  background-color: var(--backgroung-light-blue);
  color: var(--text-light);
  font-family: var(--font-text);
  line-height: 1.5;
  max-width: 500px;
  font-size: 0.8rem;
}

.stage__flex {
  font-family: var(--font-text);
  display: flex;
  justify-content: space-between;
}

.stage__title {
  font-size: 1.5rem;
  font-family: var(--font-caveat);
  font-weight: 500;
}

.card .close:after {
  color: var(--text-light) !important;
}

/* tohle sem asi nepatří, ale nevím kam :D */
