#all-trails {
  position: relative;
  top: 4rem;
  bottom: 0;
  margin-bottom: 4rem;
  background-color: var(--text-light);
}

.trail-fish {
  background-image: url('./Fish/img/introfish.jpg');
  height: 100px;
  background-size: cover;
  background-position: center;
}

.trail-gr221 {
  background-image: url('./img/IMG_1802.jpg');
  height: 100px;
  background-size: cover;
  background-position: center;
}

.trail__map {
  width: 50%;
  height: 400px;
  margin: auto;
}

.trail__title {
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  width: 50vw;
  height: 50px;
  background-color: black;
  opacity: 0.8;
  color: white;
  position: relative;
  left: 25%;
  top: 25px;
  font-family: 'Caveat', sans-serif;
}

@media (max-width: 430px) {
  .trail__title {
    font-size: 1.5rem;
    line-height: 1.9;
  }
}

@media (min-width: 850px) {
  .trail {
    width: 70vw;
    position: relative;
    left: 15%
  }

  .trail__title {
    width: 50%;
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
