header {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  height: 4rem;
  align-items: center;
  background-color: var(--backgroung-light-blue);
  font-family: 'Caveat', sans-serif;
  font-weight: 500;
  justify-content: space-between;
  font-size: 1.6rem;
  background-image: url('./img/wood.png');
  background-size: 16rem;
}

.nav {
  display: none;
}

.navmob {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: calc(100vh - 4rem);
  text-align: center;
  background-image: url('./img/IMG_8049.jpg');
  background-size: cover;
  background-position: center;
}

.navmob ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
}

.navmob ul::before {
  content: "";
  position: absolute;
  width: 10px;
  height: calc(100vh - 4rem);
  background: rgb(111, 61, 4);
  background-image: url('./img/wood.png');
  background-size: 112px;
  background-position: center;
  background-repeat: repeat;
}

.navmob a {
  color: var(--backgroung-light-blue);
  background-color: var(--text-light);
  position: relative;
  z-index: 1;
  display: flex;
  height: 2.55rem;
  width: 10rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navmob a:hover {
  scale: 1.05;
  font-weight: 600;
}

.navmob a::after {
  content: "";
  position: absolute;
  border-top: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-left: 1rem solid var(--text-light);
  left: 10rem;
}

.navmob a.active {
  font-weight: 600;
  background-color: rgb(228, 175, 112);
}

.navmob a.active::after {
  border-left: 1rem solid rgb(228, 175, 112);
}

.closenavmob {
  display: none;
}

.darkmode {
  display: block;
  background-color: var(--text-light);
  height: 2.55rem;
  width: 2.55rem;
  padding: 4px;
  margin-left: 1rem;
}

.burgermenu {
  display: block;
  background-color: var(--text-light);
  height: 2.55rem;
  width: 2.55rem;
  margin-right: 1rem;
}

@media (min-width: 850px) {
  .navmob {
    display: none;
  }

  header {
    padding-right: 2rem;
  }

  .nav {
    display: block;
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  .nav a {
    color: var(--backgroung-light-blue);
    background-color: var(--text-light);
    position: relative;
    z-index: 1;
    display: flex;
    height: 2.55rem;
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .nav a:hover {
    scale: 1.05;
    font-weight: 600;
  }

  .nav a::after {
    content: "";
    position: absolute;
    border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
    border-left: 1rem solid var(--text-light);
    left: 10rem;
  }

  .nav a.active {
    font-weight: 600;
    background-color: rgb(228, 175, 112);
  }

  .nav a.active::after {
    border-left: 1rem solid rgb(228, 175, 112);
  }

  .burgermenu {
    display: none;
  }
}
