header {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  height: 4rem;
  align-items: center;
  background-color: var(--backgroung-light-blue);
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  justify-content: space-between;
}


.nav {
  display: none;
}

.navmob {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: calc(100vh - 4rem);
  text-align: center;
  background-color: var(--backgroung-light-blue);
}

.navmob ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
}

.navmob ul::before {
  content: "";
  position: absolute;
  width: 10px;
  height: calc(100vh - 4rem);
  background: rgb(92, 51, 5);
}

.navmob a {
  color: var(--backgroung-light-blue);
  background-color: var(--text-light);
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  display: flex;
  height: 2.55rem;
  width: 10rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navmob a:hover {
  scale: 1.05;
}

.navmob a::after {
  content: "";
  position: absolute;
  border-top: 1.3rem solid transparent;
  border-bottom: 1.3rem solid transparent;
  border-left: 1rem solid var(--text-light);
  left: 10rem;
}





.darkmode {
  display: block;
  background-color: var(--text-light);
  height: 2.55rem;
  width: 2.55rem;
  padding: 4px;
  margin-left: 1rem;
}

.burgermenu {
  display: block;
  background-color: var(--text-light);
  height: 2.55rem;
  width: 2.55rem;
  margin-right: 1rem;
}



@media (min-width: 850px) {

  .navmob {
    display: none;
  }

  header {
    padding-right: 2rem;
  }

  .nav {
    display: block;
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  .nav a {
    color: var(--backgroung-light-blue);
    background-color: var(--text-light);
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    display: flex;
    height: 2.55rem;
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .nav a:hover {
    scale: 1.05;
  }

  .nav a::after {
    content: "";
    position: absolute;
    border-top: 1.3rem solid transparent;
    border-bottom: 1.3rem solid transparent;
    border-left: 1rem solid var(--text-light);
    left: 10rem;
  }

  .burgermenu {
    display: none;
  }


}
