.error {
  position: relative;
  top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-light);
  height: calc(100vh - 4rem);
}

.error__page {
  text-align: center;
}
