footer {
  width: 100%;
  background-color: var(--backgroung-light-blue);
  background-image: url('../Header/wood.png');
  background-repeat: repeat;
  background-size: 16rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer--text {
  color: var(--text-light);
  font-family: var(--font-text);
  font-size: 1rem;
  text-align: center;
  font-family: 'Caveat', sans-serif;
}

@media (max-width: 650px) {
  .footer--text {
    font-size: 0.7rem;
  }
}
