@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Italiana&family=Poiret+One&display=swap');

:root {
  --backgroung-light-blue: #002932;
  /*--background-secondary: #cdddda;*/
  --text-light: #fff4dd;
  --text: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}
