@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Istok+Web&family=Italiana&display=swap');

:root {
  --backgroung-light-blue: #002932;
  --text-light: #ffedc7;
  --text: black;
  --font-text: 'Istok Web';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}
